<div class="container">
    <h3>Lista de usuarios</h3>

    <table class="table table-info table-striped">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Detalle</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-light" *ngFor="let user of userList">
                <td>{{user.name}}</td>
                <td class="pe-auto" (click)="goToUserDetail(user.id)">Ver Detalle</td>
            </tr>
        </tbody>
    </table>

</div>

{{userList | json}}